<div class="container-fluid" ng-init="session_check()">
	<div class="row">
		<div class="col-lg-12">
            <h1 class="page-header">
                {{title}}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-desktop"></i> {{title}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-truck fa-fw"></i> Entregas</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group h2">
                        <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" style="background-color: #eee; color: #555; border: 1px solid #ccc">
                                <i class="fa fa-fw fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="list-group">
                        <a ui-sref="visualizar_entrega" class="list-group-item" ng-repeat="entrega in entregas | filter:procurar | orderBy:sortKey:reverse | startFrom: (currentPage - 1) * maxSize | limitTo: entregas.length" ng-click="visualizarEntrega(entrega)">
                            <span class="badge">{{entrega.status_entrega}}</span>
                            <b>ID: </b>{{entrega.id_entrega}} &nbsp <i class="fa fa-fw fa-calendar"></i> {{entrega.data}} &nbsp <i class="fa fa-fw fa-clock-o"></i> {{entrega.hora}}
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>