<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
            <h1 class="page-header">
                {{title}} <small>Detalhamento</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-globe"></i> <a ui-sref="controle_pedidos">Controle de Pedidos</a>
                </li>
                <li class="active">
                    <i class="fa fa-desktop"></i> {{title}}
                </li>
            </ol>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Dados do Cliente &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<b>ID:</b> {{pedido.id_cliente}}</h3>
                </div>
				<table class="table table-bordered table-hover table">
					<tbody>
						 <tr>
						 	<th>Nome:</th>
						 	<td>{{pedido.nome_cliente}} {{pedido.sobrenome_cliente}}</td>
						 </tr>
						 <tr>
						 	<th>CPF:</th>
						 	<td>{{pedido.cpf_cliente}}</td>
						 </tr>
						 <tr>
						 	<th>e-mail:</th>
						 	<td>{{pedido.email_cliente}}</td>
						 </tr>
						 <tr>
						 	<th>Telefone Fixo:</th>
						 	<td>({{tel_cliente.ddd}}){{tel_cliente.numero}}</td>
						 </tr>
						 <tr>
						 	<th>Telefone Celular:</th>
						 	<td>({{cel_cliente.ddd}}){{cel_cliente.numero}}</td>
						 </tr>
						 <tr>
						 	<th>Entregas Parciais:</th>
						 	<td>{{pedido.entr_parcial}}</td>
						 </tr>
					</tbody>
				</table>
			</div>	
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-location-arrow fa-fw"></i> Endereço de Entrega &nbsp &nbsp</h3>
                </div>
                <div class="panel-body">
                    <p>{{endereco.rua_end}}, Nº {{endereco.numero_end}}</p>
                    <p>{{endereco.complemento_end}}, {{endereco.bairro_end}}</p>
                    <p>{{endereco.cidade_end}}, {{endereco.estado_end}}, {{endereco.pais_end}}</p>
                    <p>CEP:{{endereco.cep_end}}</p>
                </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-shopping-bag fa-fw"></i> Itens do Pedido
                </div>
                <div class="panel-body">
					<table class="table" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>ID</th>
								<th style="width : 40%">Nome</th>
								<th>Preço</th>
								<th>Imagem</th>
								<th>Tipo</th>
								<th>Subtipo</th>
								<th>Tamanho</th>
								<th>Quantidade</th>
								<th>Estoque</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item_pedido in itens_pedido | filter:procurar | orderBy:sortKey:reverse" >
								<td>{{item_pedido.id_prod}}</td>
								<td>{{item_pedido.nome_prod}}</td>
					  			<td style="width= 200px">R$ {{item_pedido.preco_prod}}</td>
					  			<td><img src="{{item_pedido.url_imagem}}" width = "50"/></td>
					  			<td>{{item_pedido.tipo_prod}}</td>
					  			<td>{{item_pedido.subtipo_prod}}</td>
								<td>{{item_pedido.tamanho_prod}}</td>
								<td>{{item_pedido.qte_prod}}</td>
								<td>{{item_pedido.estoque_prod}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-truck fa-fw"></i> Delegar Entrega
                </div>
                <div class="panel-body">
                	<form>
                		<div>
                			<label>Funcionário: </label>
						  	<select class="select cadastro" style="margin-right: 30px; width: 200px" ng-options="funcionario.nome_func + ' ' + funcionario.sobrenome_func for funcionario in equipe" ng-model="funcionario" placeholder="">
								<option value="">Selecione</option>
							</select>
                		</div>
                		<table class="table table table-bordered table-hover" id="dataTables-example" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th style="width : 40%">Nome</th>
									<th>Preço</th>
									<!-- <th>Imagem</th> -->
									<th>Tipo</th>
									<th>Subtipo</th>
									<th>Tamanho</th>
									<th>Quantidade</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item_pedido in itens_selecao | filter:procurar | orderBy:sortKey:reverse" >
									<td><input type="checkbox" ng-model="item_pedido.selecionado"/></td>
									<td>{{item_pedido.id_prod}}</td>
									<td>{{item_pedido.nome_prod}}</td>
						  			<td style="width= 200px">R$ {{item_pedido.preco_prod}}</td>
						  			<!-- <td><img src="{{item_pedido.url_imagem}}" width = "50"/></td> -->
						  			<td>{{item_pedido.tipo_prod}}</td>
						  			<td>{{item_pedido.subtipo_prod}}</td>
									<td>{{item_pedido.tamanho_prod}}</td>
									<td>{{item_pedido.qte_prod}}</td>
								</tr>
							</tbody>
						</table>
                		<button type="submit" class="btn btn-primary btn-block" ng-click="criarEntrega(funcionario)" ng-disabled="!funcionario">Criar Entrega</button>
                	</form>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
	                    <h3 class="panel-title"><i class="fa fa-truck fa-fw"></i> Entregas Associadas
	            </div>
	            <div class="panel-body">
		            <div class="panel panel-default" ng-repeat="entrega in entregas">
			            <div class="panel-body">
			            	<div class="row">
				            	<div  class="col-lg-1">
				            		<b>ID:</b>
				            		<p>{{entrega.id_entrega}}</p>
				            	</div>
				            	<div  class="col-lg-2">
				            		<b><i class="fa fa-user fa-fw"></i> Funcionário:</b>
				            		<p>{{entrega.nome_func}} {{entrega.sobrenome_func}}</p>
				            	</div>
				            	<div  class="col-lg-2">
				            		<b><i class="fa fa-calendar fa-fw"></i> Data:</b>
				            		<p>{{entrega.data}}</p>
				            	</div>
				            	<div  class="col-lg-2">
				            		<b><i class="fa fa-clock-o fa-fw"></i> Horário:</b>
				            		<p>{{entrega.hora}}</p>
				            	</div>
				            	<div  class="col-lg-3">
				            		<b>Status da Entrega:</b><br/>
				            		<p><span class="badge">{{entrega.status_entrega}}</span></p>
				            	</div>
				            </div>
				            <div class="row">
				            	<div class="col-lg-12">
				            		<div class="panel panel-default">
				            			<div class="panel-body">
							            	<b><i class="fa fa-shopping-bag fa-fw"></i> Itens da Entrega:</b>
							            	<br/><br/>
							            	<table class="table ">
							            		<thead>
							            			<th>ID</th>
							            			<th>Nome</th>
							            			<th>Tamanho</th>
							            			<th>Quantidade</th>
							            		</thead>
							            		<tbody ng-repeat="item_entrega in entrega.itens_entrega">
							            			<td>{{item_entrega.id_prod}}</td>
							            			<td>{{item_entrega.nome_prod}}</td>
							            			<td>{{item_entrega.tamanho_prod}}</td>
							            			<td>{{item_entrega.qte_prod}}</td>
							            		</tbody>
							            	</table>
					            		<div>
				            		</div>
			            		</div>
				            </div>
			            </div>
	  				</div>
	            </div>
            </div>
		</div>
	</div>
</div>