<!DOCTYPE html>
<html ng-app="systennis">

	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
	    <meta charset="utf-8">
	    <title>{{title}}</title>
	</head>
	<body>
	<div class="container" ng-controller="catalog_ctrl">
			<div class="header-wrapper search-wrapper">
					<div class="superior-contrast-bar">
						<div class="logo-searcher-holder">
					  	<div class="systennis-logo">
<!-- 					  	<img src="https://dl.dropboxusercontent.com/s/4aalayjt1o6x8tq/systennis_logo_alt_bw.png" class="lazy" title="{{item.nome_prod}}" style="width: 30%; height: 30%"/> -->
<!-- 					  	<img src="https://dl.dropboxusercontent.com/s/pul2be9fcdzll9x/systennis_logo_alt_by.png" class="lazy" title="{{item.nome_prod}}" style="width: 30%; height: 30%"/> -->
				  		<img src="https://dl.dropboxusercontent.com/s/j1l92u5t07kjsil/systennis_logo_alt_bo.png" class="lazy" title="{{item.nome_prod}}" style="width: 25%; height: 25%"/>
					  	</div>
					  	<div class="search-bar">
					  		<div class="container">
									<div class="row">
								        <div class="col-sm-6 col-sm-offset-3">
								            <div id="imaginary_container">
								                <div class="input-group stylish-input-group">
								                    <input type="text" class="form-control"  placeholder="Pesquisa" ng-model="search.opt">
								                    <span class="input-group-btn">
															        <button class="btn btn-warning" type="button" ng-click="searchProduct()">
															        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
															        </button>
															      </span>
								                </div>
								            </div>
								        </div>
									</div>
								</div>
					  	</div>
				  		<div class="user-icons">
				  			<div class="my-cart">
				  				<div class="col-sm-6 col-sm-offset-9">
				  					<a href="/cart">
					            <div id="cart-container">
					                <div class="input-group stylish-input-group">
					                	<span class="my-cart-label">Meu<br>carrinho</br></span>
												    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					                </div>
					            </div>
					          </a>
					        </div>
				  			</div>
				  			<div class="my-account">
				  				<div class="col-sm-12 col-sm-offset-10">
				  					<a href="/account">
					            <div id="account-container">
					                <div class="input-group stylish-input-group">
					                	<span class="my-account-label">Minha<br>conta</br></span>
												    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					                </div>
					            </div>
					          </a>
					        </div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
	  	</div>
	  	<br><br><br><br><br><br>
	  	<ul class="product-list">
	  		<li ng-repeat="item in result">
	  			<span class="single-product" data-action="expand">
		  			<a href="/prod_detail/{{item.id_prod}}">
		  			<span class="product-img">
		  				<span class="aligner">
		  					<img src="{{item.url_imagem}}" class="lazy" title="{{item.nome_prod}}" width="190" height="190"/>
		  				</span>
		  				<span class="base-badge badge-high">
		  				</span>
		  				<span class="stamps-holder">
		  				</span>
		  			</span>
		  			<div class="product-info-holder">
		  				<div class="product-name" itemprop="name">{{item.nome_prod}}
		  					<a href="/add_item/{{item.id_prod}}">
			  					<span class="glyphicon glyphicon-plus" aria-hidden="true">
			  				</a>
			  					</span>
			  			</div>
<!-- 			  				<div class="cart-adder">
			  					<a href="/add_item/{{item.id_prod}}">
			  					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			  					</a>
			  				</div> -->
		  				<div class="price-holder" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		  					<div class="price-info">
		  						<strong class="price">R$ {{item.preco_prod.toFixed(2)}}</strong>
		  					</div>
		  				</div>
		  			</div>
		  			</a>
		  		</span>
	  		</li>
	  	</ul>
	</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- 		<script src="js/angular.min.js"></script>
 -->	<script src="js/ng-app.js"></script>
		<script src="js/index_controller.js"></script>
	</body>
</html>