<!DOCTYPE html>
<html ng-app="systennis">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	    <meta charset="utf-8">
	    <title>{{title}}</title>
	</head>
	<body>
	<div ui-view></div>
		<!--<script source="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
		<script src="js/Angular/angular.js"></script>
		<script src="js/ui-router/angular-ui-router.js"></script>
		<script src="js/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
		<script src="js/Angular/angular-resource.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/controllers/catalog_ctrl.js"></script>
		<!--<script src="js/ng-app.js"></script>		-->
		<!--<script src="js/index.controller.js"></script>-->
	</body>
</html>
