<!DOCTYPE html>
<html lang="en" ng-app="systennis">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Systennis</title>

    <!-- Bootstrap Core CSS -->
    <link href="pages/template/startbootstrap-sb-admin-1.0.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="pages/template/startbootstrap-sb-admin-1.0.4/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="pages/template/startbootstrap-sb-admin-1.0.4/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="pages/template/startbootstrap-sb-admin-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Stylesheet Costumizado -->
    <link rel="stylesheet" href="stylesheets/style-admin.css" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        

        <header ng-include="'pages/admin/admin-navbar.html'"></header>

        <div id="page-wrapper" style="height : 100%">
            <div ui-view></div>
        </div>

    </div>
    <!-- /#wrapper -->

    

    <!-- Angular and Dependencies -->
    <script src="js/Angular/angular.js"></script>
	<script src="js/Angular/angular-resource.min.js"></script>
    <script src="js/Angular/angular-animate.js"></script>
	<script src="js/ui-router/angular-ui-router.js"></script>
    <script src="js/ui-bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>



    <!-- jQuery -->
    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/plugins/morris/raphael.min.js"></script>
    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/plugins/morris/morris.min.js"></script>
    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/plugins/morris/morris-data.js"></script>

    <script src="pages/template/startbootstrap-sb-admin-1.0.4/js/dirPagination.js"></script>

    <!-- Config -->
    <script src="js/config-admin.js"></script>

    <script src="js/controllers/admin/cadastro_prod_ctrl.js"></script>
    <script src="js/controllers/admin/consulta_prod_ctrl.js"></script>
    <script src="js/controllers/admin/edicao_prod_ctrl.js"></script>
    <script src="js/controllers/admin/visualizar_prod_ctrl.js"></script>

    <script src="js/controllers/admin/gestao_pedidos_ctrl.js"></script>



</body>

</html>
