body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.product-list
{
	list-style-type: none;
	padding: 0;
	margin: 0;

  	columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.header-wrapper
{
/*	position: fixed;
	top: 0;
	left: 0;
*/	background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.superior-contrast-bar
{
}

.systennis-logo
{
	position: absolute;
	top: 37px;
	left: 60px;
}

.glyphicon-shopping-cart
{
	position: absolute;
	top: 58px;
	color: #ffffff;
	font-size: 30px;
}

.glyphicon-user
{
	position: absolute;
	top: 58px;
	color: #ffffff;
	font-size: 30px;
}

.my-cart-label
{
	position: absolute;
	top: 58px;
	right: 5px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

.my-account-label
{
	position: absolute;
	top: 58px;
	right: 10px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

.search-bar
{
	position: absolute;
	top: 58px;
}

.glyphicon-search
{
	color: #000;
}

.btn-default:
{
	background :#000;
	color: #ffffff;
}

.price-info:
{
	font-size: 24px;
}

.glyphicon-plus:
{
	color: #ffffff;
}




