<div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{pagename}}</h1>
                    </div>
                    <!--<div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li><a href="shop-category.html">Ladies</a>
                            </li>
                            <li><a href="shop-category.html">Tops</a>
                            </li>
                            <li>White Blouse Armani</li>
                        </ul>-->

                    </div>
                </div>
            </div>
        </div>
