<div class="container-fluid" ng-controller="cadastro_prod_ctrl">
	<div>
		<h3>{{title}}</h3>
		<br><br>
	  	<form>
		  	<div>
		    	<label>Nome do Produto</label>
		    	<input type="text" class="form-control cadastro" placeholder="Digite o nome do produto." ng-model="produto.nome">
		  	</div>
		  	<div>
		  		<label>Tipo de Produto</label>
			  	<select class="select cadastro" style="margin-right: 30px; width: 125px"  ng-model="produto.tipo" ng-options="tipo_produto for tipo_produto in tipo_produto" placeholder="">
					<option value="">Selecione</option>
				</select>
				<label>Subtipo de Produto</label>
			  	<select class="select cadastro" style="width: 125px"  ng-model="produto.subtipo" ng-options="subtipo_produto for subtipo_produto in subtipo_produto" placeholder="">
					<option value="">Selecione</option>
				</select>
			</div>
		  	<div>
		  		<label>Descrição</label>
		    	<textarea class="form-control cadastro" placeholder="Digite a descrição do produto." rows="4" cols="100" ng-model="produto.descricao"></textarea>
		  	</div>
		  	<div>
		    	<label>Cor</label>
		    	<input type="textarea" class="form-control cadastro" placeholder="Digite a cor do produto." ng-model="produto.cor">
		  	</div>
		  	<div>
		    	<label>Marca</label>
		    	<input type="textarea" class="form-control cadastro" placeholder="Digite a marca do produto." ng-model="produto.marca">
		  	</div>
		  		<label>Preço</label>
			  	<div class="form-group input-group">

	                <span class="input-group-addon">R$</span>
	                <input type="text" class="form-control" style="width: 157px"ng-model="produto.preco">
	            </div>		  	
		  	<div>
			  	<label>Estoque</label>
			  	<input type="number" class="form-control cadastro" style="width: 200px"  min="0" max="10000" placeholder=0 ng-model="produto.estoque">
		  	</div>
		  	<div>
		  		<label>URL da imagem</label>
		  		<input type="url" class="form-control cadastro" placeholder="Digite a URL da imagem." ng-model="produto.imagem">
		  	</div>

		  	<button type="submit" class="btn btn-primary btn-block" ng-click="adicionarProduto(produto)" ng-disabled="!produto.nome || !produto.descricao || !produto.tipo 
			|| !produto.subtipo || !produto.cor || !produto.marca|| !produto.preco || !produto.estoque || !produto.imagem">Adicionar produto</button>
	    	{{produto}}
		</form>
	  
	</div>
</div>









