<div class="header-wrapper search-wrapper">
		<div class="superior-contrast-bar">
			<div class="logo-searcher-holder">
		  	<div class="systennis-logo">
<!-- 					  	<img src="https://dl.dropboxusercontent.com/s/4aalayjt1o6x8tq/systennis_logo_alt_bw.png" class="lazy" title="{{item.nome_prod}}" style="width: 25%; height: 25%"/> -->
<!-- 					  	<img src="https://dl.dropboxusercontent.com/s/pul2be9fcdzll9x/systennis_logo_alt_by.png" class="lazy" title="{{item.nome_prod}}" style="width: 25%; height: 25%"/> -->
	  		<img src="https://dl.dropboxusercontent.com/s/j1l92u5t07kjsil/systennis_logo_alt_bo.png" class="lazy" title="{{item.nome_prod}}" style="width: 25%; height: 25%"/>
		  	</div>
		  	<div class="search-bar">
		  		<div class="container">
						<div class="row">
					        <div class="col-sm-6 col-sm-offset-3">
					            <div id="imaginary_container">
					                <div class="input-group stylish-input-group">
					                    <input type="text" class="form-control"  placeholder="Pesquisa" ng-model="search.opt">
					                    <span class="input-group-btn">
												        <button class="btn btn-warning" type="button" ng-click="searchProduct()">
												        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
												        </button>
												      </span>
					                </div>
					            </div>
					        </div>
						</div>
					</div>
		  	</div>
	  		<div class="user-icons">
	  			<div class="my-cart">
	  				<div class="col-sm-6 col-sm-offset-9">
	  					<a href="/cart">
		            <div id="cart-container">
		                <div class="input-group stylish-input-group">
		                	<span class="my-cart-label">Meu<br>carrinho</br></span>
									    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
		                </div>
		            </div>
		          </a>
		        </div>
	  			</div>
	  			<div class="my-account">
	  				<div class="col-sm-12 col-sm-offset-10">
	  					<a href="/account">
		            <div id="account-container">
		                <div class="input-group stylish-input-group">
		                	<span class="my-account-label">Minha<br>conta</br></span>
									    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		                </div>
		            </div>
		          </a>
		        </div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
</div>