    <div id="all" style="background-color: lightgray">
        <header ng-include="'pages/template/common/header.html'">


        </header>

        <!-- *** LOGIN MODAL ***
_________________________________________________________ -->

        <div ng-include="'pages/template/common/login-modal.html'"></div>
        <!-- *** LOGIN MODAL END *** -->
        <div ng-include="'pages/template/common/breadcrumbs.html'"></div>
        <div id="content">
            <div class="container">

                <div class="row" style="background-color: white">

                    <!-- *** LEFT COLUMN ***
		    _________________________________________________________ -->
            <div>
                    <div class="col-md-9">
                        <!--<p class="lead">{{detail.desc_prod}}
                        </p>-->
                        <!--<p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to product details, material & care and sizing</a>
                        </p>-->
                        <div class="row" id="productMain">
                            <div class="col-sm-6">
                                <div id="mainImage">
                                    <img src="{{detail.url_imagem}}" alt="" class="img-responsive">
                                </div>
                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <div class="col-sm-6">
                                <div class="box">
                                    <form>
                                        <div class="sizes">

                                            <h3>Tamanhos</h3>

                                            <label for="size_s" ng-repeat="size in sizes">
                                                <a id="{{'size'+$index}}" class="size_radio" ng-click="setSize(size.tamanho_prod, $index)">{{size.tamanho_prod}}</a>
                                                <input type="radio" id="size_s" name="size" value="s" class="size-input">
                                            </label>
                                        </div>
                                        <p class="price">R$ {{detail.preco_prod.toFixed(2)}}</p>
                                        <p class="text-center">
                                            <button ng-click="addProduct(detail)" type="submit" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Adicionar ao<br>carrinho</button>
                                            <br><br><br>
                                            <select class="select product_colors" id="product_colors" style=" width: 213px"  ng-model="product.color" name="product_color" ng-options="colors.cor_prod for colors in colors" placeholder="Selecione" ng-change="change_colors(product.color.id_prod)">
                                            <option value="" disabled selected>Selecione a cor</option>
                                            </select>
                                        </p>

                                    </form>
                                </div>

                                <!--    <div class="row" id="thumbs">
                                    <div class="col-xs-4">
                                        <a href="img/detailbig1.jpg" class="thumb">
                                            <img src="img/detailsquare.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="img/detailbig2.jpg" class="thumb">
                                            <img src="img/detailsquare2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="img/detailbig3.jpg" class="thumb">
                                            <img src="img/detailsquare3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>-->
                            </div>

                        </div>


                        <div class="box" id="details">
                            <p>
                                <h4>Detalhes do Produto</h4>
                                <p>{{detail.desc_prod}}</p>
                                <br>
                                <h4>Categorias</h4>
                                <ul>
                                    <li>{{detail.tipo_prod}}</li>
                                    <li>{{detail.subtipo_prod}}</li>
                                </ul>

                                <!--<blockquote>
                                    <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                                    </p>
                                </blockquote>-->
                        </div>

                        <div class="box social" id="product-social">
                            <h4>Compartilhe nas redes sociais!</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>You may also like these products</h3>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>

                                    </div>
                                </div>-->
                                <!-- /.product -->
                           <!-- </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>
                                    </div>
                                </div>-->
                                <!-- /.product -->
                            <!--</div>-->

                           <!-- <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>
                                    </div>
                                </div>-->
                                <!-- /.product -->
                           <!-- </div>

                        </div>-->

                        <!--<div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>Products viewed recently</h3>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>
                                    </div>
                                </div>-->
                                <!-- /.product -->
                            <!--</div>-->
<!--
                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>
                                    </div>
                                </div>-->
                                <!-- /.product -->
                           <!-- </div>


                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="price">$143</p>

                                    </div>
                                </div>-->
                                <!-- /.product -->
                            <!--</div>

                        </div>-->

                    </div>
                    <!-- /.col-md-9 -->


                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
		  _________________________________________________________ -->

                    <div class="col-sm-3">

                        <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                        <div ng-include="'pages/template/common/side-menu.html'"></div>
                        <!-- *** MENUS AND FILTERS END *** -->
                        <!--
                        <div class="banner">
                            <a href="shop-category.html">
                                <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                            </a>
                        </div>-->
                        <!-- /.banner -->
                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** GET IT ***
_________________________________________________________ -->

        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <!--<h3>Do you want cool website like this one?</h3>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a href="#" class="btn btn-template-transparent-primary">Buy this template now</a>-->
                </div>
            </div>
        </div>


        <!-- *** GET IT END *** -->


        <!-- *** FOOTER ***
_________________________________________________________ -->

<!--        <footer id="footer" ng-include="'pages/template/common/footer.html'"></footer>-->
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->

        <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div ng-include="'pages/template/common/copywrite.html'"></div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->

 